<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18E226</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qsvis</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iqiyilogo</string>
			<key>CFBundleTypeName</key>
			<string>IQIYI Search Index Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.iqiyi.index.search</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rmvb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rmvb</string>
			<key>CFBundleTypeName</key>
			<string>rmvb</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>avi</string>
			<key>CFBundleTypeName</key>
			<string>avi</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>asf</string>
			<key>CFBundleTypeName</key>
			<string>asf</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>f4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>f4v</string>
			<key>CFBundleTypeName</key>
			<string>f4v</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>flv</string>
			<key>CFBundleTypeName</key>
			<string>flv</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>m1v</string>
			<key>CFBundleTypeName</key>
			<string>m1v</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2t</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>m2t</string>
			<key>CFBundleTypeName</key>
			<string>m2t</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>m4v</string>
			<key>CFBundleTypeName</key>
			<string>m4v</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mkv</string>
			<key>CFBundleTypeName</key>
			<string>mkv</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mov</string>
			<key>CFBundleTypeName</key>
			<string>mov</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mp4</string>
			<key>CFBundleTypeName</key>
			<string>mp4</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpe</string>
			<key>CFBundleTypeName</key>
			<string>mpe</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpeg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg</string>
			<key>CFBundleTypeName</key>
			<string>mpeg</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3g2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>3g2</string>
			<key>CFBundleTypeName</key>
			<string>3g2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>3gp</string>
			<key>CFBundleTypeName</key>
			<string>3gp</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpg</string>
			<key>CFBundleTypeName</key>
			<string>mpg</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>qt</string>
			<key>CFBundleTypeName</key>
			<string>qt</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rm</string>
			<key>CFBundleTypeName</key>
			<string>rm</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ts</string>
			<key>CFBundleTypeName</key>
			<string>ts</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vob</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vob</string>
			<key>CFBundleTypeName</key>
			<string>vob</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>wmv</string>
			<key>CFBundleTypeName</key>
			<string>wmv</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qsv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>qsv</string>
			<key>CFBundleTypeName</key>
			<string>qsv</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>爱奇艺</string>
	<key>CFBundleIconFile</key>
	<string>iqiyilogo</string>
	<key>CFBundleIdentifier</key>
	<string>com.iqiyi.player</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>爱奇艺</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.19.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.iqiyi.yingyin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>macqydown</string>
				<string>iqiyi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>271</string>
	<key>ChannelId</key>
	<string>102</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11B500</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19B89</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1120</string>
	<key>DTXcodeBuild</key>
	<string>11B500</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 爱奇艺 All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>IQIYI Search Index</string>
			<key>UTTypeIconFile</key>
			<string>iqiyilogo</string>
			<key>UTTypeIdentifier</key>
			<string>com.iqiyi.index.search</string>
			<key>UTTypeReferenceURL</key>
			<string>iqiyi.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qsvis</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
