<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FAQ</key>
	<string>http://app.qiyi.com/mac/player/help/index.html</string>
	<key>QQGroup</key>
	<string>938355165</string>
	<key>DefaultTip</key>
	<string>请详细描述您的反馈意见，我们会尽快反馈给您</string>
	<key>Items</key>
	<array>
		<dict>
			<key>Title</key>
			<string>视频不能播放</string>
			<key>Tip</key>
			<string>请提供提示的错误码以及所播放的视频名称，以便我们快速解决问题</string>
			<key>fb_class</key>
			<string>播放失败</string>
			<key>AppLog</key>
			<true/>
			<key>PumaLog</key>
			<true/>
			<key>PlayRecord</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>播放不流畅</string>
			<key>Tip</key>
			<string>请提供播放的视频名称，选择的清晰度，以便我们快速解决问题</string>
			<key>fb_class</key>
			<string>延迟问题</string>
			<key>AppLog</key>
			<false/>
			<key>PumaLog</key>
			<true/>
			<key>PlayRecord</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>播放中失败</string>
			<key>Tip</key>
			<string>请提供提示的错误码以及所播放的视频名称，以便我们快速解决问题</string>
			<key>fb_class</key>
			<string>播放失败</string>
			<key>AppLog</key>
			<true/>
			<key>PumaLog</key>
			<true/>
			<key>PlayRecord</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>视频不丰富</string>
			<key>Tip</key>
			<string>请提供您想看的视频，我们会尽量满足您的需求</string>
			<key>fb_class</key>
			<string>内容需求</string>
			<key>AppLog</key>
			<false/>
			<key>PumaLog</key>
			<false/>
			<key>PlayRecord</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>会员购买</string>
			<key>Tip</key>
			<string>请您提供会员购买过程中哪个环节出问题；购买失败、成功后未获得权益等</string>
			<key>fb_class</key>
			<string>购买遇到问题</string>
			<key>AppLog</key>
			<true/>
			<key>PumaLog</key>
			<false/>
			<key>PlayRecord</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>奇点购买</string>
			<key>Tip</key>
			<string>请您提供奇点购买过程中哪个环节出问题；购买失败、成功后未获得权益等</string>
			<key>fb_class</key>
			<string>购买遇到问题</string>
			<key>AppLog</key>
			<true/>
			<key>PumaLog</key>
			<false/>
			<key>PlayRecord</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>VIP视频</string>
			<key>Tip</key>
			<string>请提供VIP视频播放的问题、提示文案、错误码、视频名称等信息，以便我们快速解决问题</string>
			<key>fb_class</key>
			<string>会员问题</string>
			<key>AppLog</key>
			<true/>
			<key>PumaLog</key>
			<true/>
			<key>PlayRecord</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>内容无法展现</string>
			<key>Tip</key>
			<string>您可以尝试使用“系统菜单-爱奇艺-偏好设置-系统设置”中的“清空缓存”功能解决此问题</string>
			<key>fb_class</key>
			<string>功能问题</string>
			<key>AppLog</key>
			<true/>
			<key>PumaLog</key>
			<false/>
			<key>PlayRecord</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>登录注册</string>
			<key>Tip</key>
			<string>请提供登录/注册的手机号、提示文案、错误码等信息，以便我们快速解决问题</string>
			<key>fb_class</key>
			<string>注册登录</string>
			<key>AppLog</key>
			<true/>
			<key>PumaLog</key>
			<false/>
			<key>PlayRecord</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>软件崩溃</string>
			<key>Tip</key>
			<string>请描述软件在崩溃时的场景，包括具体操作、所在页面等</string>
			<key>fb_class</key>
			<string>应用崩溃</string>
			<key>AppLog</key>
			<true/>
			<key>PumaLog</key>
			<true/>
			<key>PlayRecord</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>产品建议</string>
			<key>Tip</key>
			<string>请详细描述您的改善建议，我们会着重考虑您的建议</string>
			<key>fb_class</key>
			<string>改善建议</string>
			<key>AppLog</key>
			<false/>
			<key>PumaLog</key>
			<false/>
			<key>PlayRecord</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>其他</string>
			<key>Tip</key>
			<string>请详细描述您的反馈意见，我们会尽快反馈给您</string>
			<key>fb_class</key>
			<string>其他</string>
			<key>AppLog</key>
			<true/>
			<key>PumaLog</key>
			<true/>
			<key>PlayRecord</key>
			<true/>
		</dict>
	</array>
	<key>AppLogMaxSize</key>
	<integer>10000</integer>
	<key>PumaLogMaxSize</key>
	<integer>50000</integer>
	<key>SendUID</key>
	<true/>
</dict>
</plist>
