<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<dict>
			<key>Code</key>
			<string>-8428</string>
			<key>Description</key>
			<string>用户所在地域受限</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8433</string>
			<key>Description</key>
			<string>非会员不允许下载</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8520</string>
			<key>Description</key>
			<string>联通运营商连接失败</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8490</string>
			<key>Description</key>
			<string>视频已失效</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8478</string>
			<key>Description</key>
			<string>登录失效</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8399</string>
			<key>Description</key>
			<string>登录失效</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8207</string>
			<key>Description</key>
			<string>磁盘空间不足</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8156</string>
			<key>Description</key>
			<string>磁盘空间不足</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8117</string>
			<key>Description</key>
			<string>VIP权限永久失效</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8116</string>
			<key>Description</key>
			<string>VIP权限临时失效</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>-8105</string>
			<key>Description</key>
			<string>账号被多设备使用</string>
		</dict>
		<dict>
			<key>Prefix</key>
			<true/>
			<key>Code</key>
			<string>-89</string>
			<key>Description</key>
			<string>该清晰度需要VIP权限</string>
		</dict>
	</array>
</dict>
</plist>
