<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IndexJsbundleMd5</key>
	<string>7b2369e8b1b59c528d7182122d332cd6</string>
	<key>IndexJsbundleVersion</key>
	<string>5.19.2</string>
</dict>
</plist>
