<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainWindowContentBK</key>
	<string>0x1f2124</string>
	<key>MainWindowVipEntryNormal</key>
	<string>0xcccccc</string>
	<key>MainWindowVipEntryHover</key>
	<string>0x48b400</string>
	<key>MainWindowVipEntrySelected</key>
	<string>0x368102</string>
	<key>MainWindowSearchFieldBkNormal</key>
	<string>0x1f2124</string>
	<key>MainWindowSearchFieldBkHover</key>
	<string>0x333335</string>
	<key>MainWindowSearchFieldText</key>
	<string>0xD8D8D8</string>
	<key>MainWindowSearchButtonNormal</key>
	<string>0x4fe931</string>
	<key>MainWindowSearchButtonHover</key>
	<string>0x42fb1e</string>
	<key>MainWindowSearchButtonDown</key>
	<string>0x3eaa2a</string>
	<key>MainWindowSearchButtonDisable</key>
	<string>0x333334</string>
	<key>MainWindowSearchDropBk</key>
	<string>0x181A1C</string>
	<key>MainWindowSearchDropBorder</key>
	<string>0x151515</string>
	<key>MainWindowSearchSuggestItemCnameNormal</key>
	<string>0x999999</string>
	<key>MainWindowSearchSuggestItemCnameHover</key>
	<string>0x4FE931</string>
	<key>MainWindowTitleBarBGColor</key>
	<string>0x181a1c</string>
	<key>MainWindowTitleBarMoreItemNormal</key>
	<string>0x9b9b9b</string>
	<key>MainWindowTitleBarMoreItemHover</key>
	<string>0x4fe931</string>
	<key>MainWindowButtonNormal</key>
	<string>0x9B9B9B</string>
	<key>MainWindowButtonHover</key>
	<string>0x4FE931</string>
	<key>MainWindowButtonDown</key>
	<string>0x3EAA2A</string>
	<key>MainWindowButtonDisable</key>
	<string>0x5B5C5D</string>
	<key>MainWindowUserFaceBorderNormal</key>
	<string>0x9B9B9B</string>
	<key>MainWindowGreenNormal</key>
	<string>0x4FE931</string>
	<key>MainWindowGreenHover</key>
	<string>0x42FB1E</string>
	<key>MainWindowGreenDown</key>
	<string>0x3EAA2A</string>
	<key>MainWindowGoldNormal</key>
	<string>0xE2BC81</string>
	<key>MainWindowGoldHover</key>
	<string>0xFFD79A</string>
	<key>MainWindowGoldDown</key>
	<string>0xD3A660</string>
	<key>LoginUserInfoNickname</key>
	<string>0x9B9B9B</string>
	<key>LoginUserInfoTip</key>
	<string>0x777777</string>
	<key>LoginUserInfoDivline</key>
	<string>0x181A1C</string>
	<key>LoginUserInfoQidian</key>
	<string>0x4FE931</string>
	<key>HistoryItemTextNormal</key>
	<string>0xaaaaaa</string>
	<key>HistoryItemTextHover</key>
	<string>0xffffff</string>
	<key>HistoryItemNormal</key>
	<string>0x181A1C</string>
	<key>HistoryItemHover</key>
	<string>0x242424</string>
	<key>HistoryActionNameNormal</key>
	<string>0x666666</string>
	<key>HistoryActionNameHover</key>
	<string>0xffffff</string>
	<key>HistoryMoreNormal</key>
	<string>0x9B9B9B</string>
	<key>HistoryMoreHover</key>
	<string>0x49b300</string>
	<key>HistoryMorePush</key>
	<string>0x368104</string>
	<key>RecordItemTitle</key>
	<string>0xD8D8D8</string>
	<key>RecordItemSubtitle</key>
	<string>0x9B9B9BB2</string>
	<key>RecordItemHover</key>
	<string>0x55555580</string>
	<key>RecordMoreButtonBK</key>
	<string>0x555555</string>
	<key>RecordMoreNormal</key>
	<string>0x9b9b9b</string>
	<key>RecordMoreHover</key>
	<string>0x4FE931</string>
	<key>RecordShortVideoNorml</key>
	<string>0x 9b9b9b</string>
	<key>RecordShortVideoHover</key>
	<string>0x4FE931</string>
	<key>RecordShortVideoDown</key>
	<string>0x3eaa2a</string>
	<key>SearchTip</key>
	<string>0xd8d8d8</string>
	<key>SearchCursorColor</key>
	<string>0x4FE931</string>
	<key>SearchSelectedForeground</key>
	<string>0x222222</string>
	<key>SearchSelectedBackground</key>
	<string>0xb9d6fb</string>
	<key>SearchItemTextNormal</key>
	<string>0xaaaaaa</string>
	<key>SearchItemTextHover</key>
	<string>0x47b400</string>
	<key>SearchItemNormal</key>
	<string>0x00000000</string>
	<key>SearchItemHover</key>
	<string>0x242424</string>
	<key>DownloadWelcomeOne</key>
	<string>0x666666</string>
	<key>DownloadWelcomeSecond</key>
	<string>0x444444</string>
	<key>DownloadIntroduceCaseOne</key>
	<string>0x666666</string>
	<key>DownloadIntroduceCaseTwo</key>
	<string>0x666666</string>
	<key>DownloadIntroduceCaseThree</key>
	<string>0x666666</string>
	<key>DownloadIntroduceCaseFour</key>
	<string>0x666666</string>
	<key>ScrollerBk</key>
	<string>0x191919</string>
	<key>ScrollerKnoBk</key>
	<string>0x383838</string>
	<key>HistoryScrollerBk</key>
	<string>0x1f2124</string>
	<key>HistoryScrollerKnoBk</key>
	<string>0x383838</string>
	<key>DownloadHeaderBk</key>
	<string>0x1F2124</string>
	<key>DownloadSpaceingLine</key>
	<string>0x28292D</string>
	<key>DownloadHeaderTextNormal</key>
	<string>0x9B9B9B</string>
	<key>DownloadHeaderTextHover</key>
	<string>0x3EAA2A</string>
	<key>DownloadHeaderTextDisable</key>
	<string>0x5B5C5D</string>
	<key>DLHTabButtonText</key>
	<string>0xA4A5A7</string>
	<key>DLHTabButtonTextHover</key>
	<string>0x4FE931</string>
	<key>DLHTabButtonBK</key>
	<string>0x31323700</string>
	<key>DLHTabButtonTextOnState</key>
	<string>0x4FE931</string>
	<key>DLHTabButtonBKOnState</key>
	<string>0x313237</string>
	<key>DownloadCellBKNormal</key>
	<string>0x1F2124</string>
	<key>DownloadCellBKHover</key>
	<string>0x242629</string>
	<key>DownloadedCellBKNormal</key>
	<string>0x1C1E20</string>
	<key>DownloadedCellBKHover</key>
	<string>0x242629</string>
	<key>DownloadProgressBackground</key>
	<string>0x303133</string>
	<key>DownloadProgressFrontground</key>
	<string>0x3EAA2A</string>
	<key>DownloadProgressDisableFrontground</key>
	<string>0x5D5D5E</string>
	<key>DownloadCellTitle</key>
	<string>0xD8D8D8</string>
	<key>DownloadCellProgressText</key>
	<string>0x9B9B9B</string>
	<key>DownloadCellSpeedText</key>
	<string>0x9B9B9B</string>
	<key>DownloadCellSpeedVipText</key>
	<string>0xC8A06A</string>
	<key>DownloadCellError</key>
	<string>0xEB3D40</string>
	<key>DLCellBuyVipBkNormal</key>
	<string>0xC8A06A</string>
	<key>DLCellBuyVipBkHover</key>
	<string>0xE1B579</string>
	<key>DLCellBuyVipText</key>
	<string>0xFFFFFF</string>
	<key>DLCellTrySpeedBorderNormal</key>
	<string>0x846D4E</string>
	<key>DLCellTrySpeedBorderHover</key>
	<string>0xC8A06A</string>
	<key>DLCellTrySpeedBorderDisable</key>
	<string>0x5B5C5D</string>
	<key>DLCellTrySpeedTextNormal</key>
	<string>0xC8A06A</string>
	<key>DLCellTrySpeedTextHover</key>
	<string>0xE1B579</string>
	<key>DLCellTrySpeedTextDisable</key>
	<string>0x666768</string>
	<key>DLCellTipsText</key>
	<string>0x9B9B9B</string>
	<key>DLVideosBK</key>
	<string>0x181A1CCC</string>
	<key>DLVideosText</key>
	<string>0xD8D8D8</string>
	<key>DLAlertContentBK</key>
	<string>0x36373C</string>
	<key>DLAlertText</key>
	<string>0xD8D8D8</string>
	<key>DLAlertCancelBKNormal</key>
	<string>0x454648</string>
	<key>DLAlertCancelBKHover</key>
	<string>0x666768</string>
	<key>DLAlertConfirmBKNormal</key>
	<string>0x3EAA2A</string>
	<key>DLAlertConfirmBKHover</key>
	<string>0x4FE931</string>
	<key>DLAlertButtonText</key>
	<string>0xFFFFFF</string>
	<key>BuyQidianBkgColor</key>
	<string>0x36373C</string>
	<key>BuyQidianTitleColor</key>
	<string>0x999999</string>
	<key>BuyQidianBalanceColor</key>
	<string>0xed6a2c</string>
	<key>BuyQidianBalanceTipColor</key>
	<string>0x6f6f6f</string>
	<key>BuyQidianSelectTipColor</key>
	<string>0x6f6f6f</string>
	<key>BuyQidianPaymentTipColor</key>
	<string>0x6f6f6f</string>
	<key>BuyQidianActualPaymentColor</key>
	<string>0xed6a2c</string>
	<key>BuyQidianPayColorNormal</key>
	<string>0xffffff</string>
	<key>BuyQidianPayColorHover</key>
	<string>0xffffff</string>
	<key>BuyQidianPayColorDisable</key>
	<string>0xFFFFFFCC</string>
	<key>BuyQidianPayBkgColorNormal</key>
	<string>0xed6a2c</string>
	<key>BuyQidianPayBkgColorHover</key>
	<string>0xf0772d</string>
	<key>BuyQidianPayBkgColorDown</key>
	<string>0xbe511d</string>
	<key>BuyQidianPayBkgColorDisable</key>
	<string>0x999999</string>
	<key>BuyQidianReimndTipColor</key>
	<string>0x999999</string>
	<key>BuyQidianRulesColor</key>
	<string>0x6f6f6f</string>
	<key>BuyQidianYuanColor</key>
	<string>0xcccccc</string>
	<key>BuyQidianQidianColor</key>
	<string>0x6f6f6f</string>
	<key>BuyQidianProductFillColor</key>
	<string>0x313237</string>
	<key>BuyQidianProductBorderColor</key>
	<string>0x313237</string>
	<key>BuyQidianProductBorderColorHover</key>
	<string>0x5f5f60</string>
	<key>BuyQidianProductBorderOnColor</key>
	<string>0xed6a2c</string>
	<key>IAPBuyVipWindowBackgroundColor</key>
	<string>0x36373C</string>
	<key>IAPBuyVipWindowTitleColor</key>
	<string>0x999999</string>
	<key>IAPBuyVipWindowLoginButtonTitleNomalColor</key>
	<string>0xcccccc</string>
	<key>IAPBuyVipWindowLoginButtonTitleHoverColor</key>
	<string>0x66d71a</string>
	<key>IAPBuyVipWindowLoginSubtitleColor</key>
	<string>0x666666</string>
	<key>IAPBuyVipWindowVipCategoryColor</key>
	<string>0x6f6f6f</string>
	<key>IAPBuyVipWindowVipPrivilegeColor</key>
	<string>0x6f6f6f</string>
	<key>IAPBuyVipWindowScrollerKnob</key>
	<string>0x6B6B6D</string>
	<key>VipPrivilegeViewSubtitleColor</key>
	<string>0xc2a171</string>
	<key>VipCategoryViewBackgroundColor</key>
	<string>0x313237</string>
	<key>VipCategoryViewTitleColor</key>
	<string>0xcccccc</string>
	<key>VipCategoryViewMoneyColor</key>
	<string>0xc2a171</string>
	<key>VipCategoryViewOpenVipTitleColor</key>
	<string>0x000000</string>
	<key>history_showall_bkg_normal</key>
	<string>0x555555</string>
	<key>subscription_pageitem_title</key>
	<string>0xe6e6e6</string>
	<key>subscription_pageitem_subtitle</key>
	<string>0xcccccc</string>
	<key>subscription_pageitem_record</key>
	<string>0xcccccc</string>
	<key>subscription_page_tabitem_normal</key>
	<string>0xcccccc</string>
	<key>subscription_page_tabitem_hover</key>
	<string>0x0bbe06</string>
	<key>subscription_page_none</key>
	<string>0x666666</string>
	<key>navigationbar_bkg_color</key>
	<string>0x27292d</string>
	<key>navigationbar_pop_bkg_color</key>
	<string>0x181A1Cf4</string>
	<key>navigationbar_item_title_normal</key>
	<string>0xffffff</string>
	<key>navigationbar_item_title_on</key>
	<string>0x4fe931</string>
	<key>navigationbar_vip_title_normal</key>
	<string>0xe2bc81</string>
	<key>navigationbar_vip_title_on</key>
	<string>0xffd79a</string>
	<key>navigationbar_item_title_color</key>
	<string>0xffffff:0x4fe931::</string>
	<key>navigationbar_item_title_color_on</key>
	<string>0x4fe931:::</string>
	<key>IQGreenNormal</key>
	<string>0x4FE931</string>
	<key>IQGreenNormal_60</key>
	<string>0x4FE93199</string>
	<key>IQGreyNormal</key>
	<string>0x989898</string>
	<key>IQGreyNormal_60</key>
	<string>0x98989899</string>
	<key>IQDPTitleColor</key>
	<string>0xD8D8D8</string>
	<key>IQDPSubTitleColor</key>
	<string>0x666666</string>
	<key>IQDPAllSelectTextNormal</key>
	<string>0xFFFFFF</string>
	<key>IQDPAllSelectTextDisable</key>
	<string>0x666666</string>
	<key>IQDPAllSelectTextOnNormal</key>
	<string>0x4FE931</string>
	<key>IQDPBackgroundColor</key>
	<string>0x313237</string>
	<key>IQDPVideoListBKColor</key>
	<string>0x36373C</string>
	<key>IQDPDividingLine</key>
	<string>0x36373C</string>
	<key>IQDPStartButtonBKNormal</key>
	<string>0x454648</string>
	<key>IQDPStartButtonBKHover</key>
	<string>0x454648</string>
	<key>IQDPStartButtonBKDisable</key>
	<string>0x3D3E42</string>
	<key>IQDPStartButtonTextNormal</key>
	<string>0xFFFFFF</string>
	<key>IQDPStartButtonTextHover</key>
	<string>0x23D931</string>
	<key>IQDPStartButtonTextDisable</key>
	<string>0x777777</string>
	<key>IQDPDefinitionTextNormal</key>
	<string>0x9B9B9B</string>
	<key>IQDPDefinitionTextHover</key>
	<string>0xFFFFFF</string>
	<key>IQDPDefinitionTextOnNormal</key>
	<string>0x4FE931</string>
	<key>IQDPDefinitionTextOnBK</key>
	<string>0x36373C</string>
	<key>IQDPCellTextNormal</key>
	<string>0xD8D8D8</string>
	<key>IQDPCellTextHover</key>
	<string>0xFFFFFF</string>
	<key>IQDPCellTextDisable</key>
	<string>0xD8D8D846</string>
	<key>IQDPCellTextOnNormal</key>
	<string>0x4EF931</string>
	<key>IQDPCellTextOnDisable</key>
	<string>0x4EF93146</string>
	<key>IQDPCellTextGold</key>
	<string>#E1BB85</string>
	<key>IQDPCellTextBKNormal</key>
	<string>0x313237</string>
	<key>IQDPCellTextBKHover</key>
	<string>0x2C2D31</string>
	<key>IQDPCellTextBKBorder</key>
	<string>0x4EF931</string>
	<key>IQDPScrollerKnokBk</key>
	<string>0x48494B</string>
	<key>IQDPLoopViewBK</key>
	<string>0x36373C60</string>
	<key>IQDPLoopTextNormal</key>
	<string>0x9B9B9B</string>
	<key>IQDPLoopTextHover</key>
	<string>0xFFFFFF</string>
	<key>IQDPLoopTextOnNormal</key>
	<string>0x4EF931</string>
	<key>IQDPTipsText</key>
	<string>0x9B9B9B</string>
	<key>IQDPTipsTextLogin</key>
	<string>0x4EF931</string>
	<key>IQDPTipsTextBuyVip</key>
	<string>0xE2BC81</string>
	<key>IQDPAlertText</key>
	<string>0XFFFFFF</string>
	<key>IQDPAlertButton</key>
	<string>0XED8B00</string>
</dict>
</plist>
